.Cart {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}
.Cart-products {
  padding: 70px 0;
}
.Cart-products .List {
  max-height: 380px;
  overflow: hidden;
  overflow-y: auto;
}
.Cart-products .List::-webkit-scrollbar {
  width: 5px;
  background-color: #fff;
}
.Cart-products .List::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}
.Cart-products .List-message {
  text-align: center;
  font-size: 18px;
}
.Cart-actions {
  margin-right: 20px;
  padding: 0 13px;
  align-items: center;
  display: flex;
}
.Cart-actions button {
  font-size: 13px;
  width: 76px;
  height: 21px;
}
