.Item {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}

.Item_selected {
  background: #75aaf1;
  color: #fff;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
}

.Item-price {
  color: #404040;
  display: flex;
  flex-shrink: 0;
  font-size: 18px;
  padding: 19px 0 21px;
}
.Item-quantity {
  min-width: 100px;
  color: #404040;
  font-size: 18px;
  padding: 19px 0 21px;
  text-align: right;
}
.Item-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 24px;
}

.Item-actions button {
  font-size: 13px;
  width: 76px;
  height: 21px;
}
