.CartItem {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
}
.CartItem_selected {
  background: #75aaf1;
  color: #fff;
}

.CartItem-code {
  padding: 20px 10px 20px 20px;
}

.CartItem-title {
  width: 100%;
  padding: 20px 10px;
}

.CartItem-price {
  color: #404040;
  display: flex;
  flex-shrink: 0;
  font-size: 18px;
  padding: 19px 0 21px;
}
.CartItem-quantity {
  min-width: 100px;
  color: #404040;
  font-size: 18px;
  padding: 19px 0 21px;
  text-align: right;
}
.CartItem-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 24px;
}

.CartItem-actions button {
  font-size: 13px;
  width: 76px;
  height: 21px;
}
